body {
  background-color:black;
  color:white
  }
  
  .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: black;
      color:white
  }
    
  .todo-header {
      width: 100%;
      text-align: center;
  }
    
  
    
  #todos {
      border: 1px solid black;
      padding:15px;
      background-color: black;
      width: 600px;
      padding:15px;
      padding-left: 300px;
      /* background-color: rgb(226, 224, 224); */
      width: 600px;
      /* padding-left: 500px; */
  }
    
  #todos li {
      padding-left: 0;
      margin: 15px;
  }
    
    
  .todo-completed {
      text-decoration:line-through;
  }
    
  .todo-completed button {
      text-decoration: none;
  }
    
  .btn {
      display: inline;
  }
  
  .btnclicked{
      color:red;
  }
  .current-page {
      background-color:rgb(33, 156, 212);
      color: white;
      border-radius: 30px;
  }
  .current-page1 {
    background-color:white;
    color: black;
    border-radius: 30px;
}
.pagination-btn{
  border-radius: 30px;
}
  
  .pagination-btn.next, .pagination-btn.prev {
      background-color: rgb(33, 156, 212);
      color: white;
      border-radius: 30px;
  }
  i.fas.fa-heart {
    color:red;
  }

  .row1{
    margin-top: 15px;
  }
  .all{
    margin-top: 15px;
  }

  .green{
    color: green;
    background-color: black;
  }
  .orange{
    color: orange;
    background-color: black;
  }
  .white{
    color: skyblue;
    background-color: black;
  }

  .fa-bookmark:before {
    content: "\f02e";
    padding-right: 50px;
    color: red;
  }

  

